{% extends "base.html" %}
{% load static %}

{% block page_title %} 
    Homepage 
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    {% include "blog/includes/header.html" %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/kristen_aquarium.jpg' %}" alt="Kristen - The Author of this Blog" />
            <h2>Kristen's Blog</h2>
        </header>
        <p>Hi, I'm Kristen and enjoy making blogs about nature and wildlife. I live in Malaysia, so there's a lot to blog about!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Blogs</h2>

        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love animals, tech, and reading books about wild places.</p>
        <p>
            With this blog, I hope to let outsiders about Malaysia's great landscape and ecology. It's very beautiful and underappreciated!
        </p>
    </section>

{% endblock %}