{% extends "base.html" %}
{% load static %}

{% block page_title %} 
    All Posts 
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content %}
{% include "blog/includes/header.html" %}

<section id="all-posts">
    <h2>All Blog Posts</h2>
    <ul>
    {% for post in all_posts %}
        {% include "blog/includes/post.html" with blog_post=post %}
    {% endfor %}
    </ul>
</section>
{% endblock %}