{% extends "base.html" %}
{% load static %}

{% block page_title %} 
    {{ post.title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content %}
{% include "blog/includes/header.html" %}

{% if form.errors %}
<div id="alert">
    <h2>Saving the comment failed!</h2>
    <p>Please check the form below to ensure all fields are valid.</p>
    <a href="#comment-form">Go to form</a>
</div>
{% endif %}

    <section id="summary">
        <form action="/posts/{{post.slug}}/" method="POST" id="read-later-form">
            {% csrf_token %}
            <input type="hidden" name="read_later_id" value="{{ post.id }}">
            <button type="submit" name="read_later_button">Read Later</button>
        </form>
        <h2>{{ post.title }}</h2>
        <div>
                {% for tag in tags %}
                    <span class="tag">{{ tag.caption }}</span>
                {% endfor %}
        </div>
        <article>
            <img src="{{ post.image_name.url }}" alt="Post {{ post.title }}" />
            <address><a href="mailto:{{post.author.email_address}}">By {{ post.author.first_name }} {{ post.author.last_name }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
            <p>{{ post.content|linebreaks }}</p>
    </main>

    <section id="comments">
    {% for comment in comments %}
        <h4>{{comment.user_name}}, {{comment.date|date:"j M Y P"}}</h4>
        <p>{{comment.comment_content|linebreaks}}</p>
        <br>
    {% endfor %}
    </section>

    <section id="comment-form">
        <h2>Add a comment:</h2>
        <form action="/posts/{{post.slug}}/" method="POST">
            {% csrf_token %}
                {% for form_field in form %}
                    <div class="form-control {% if form_field.errors %} invalid {% endif %}">
                        {{ form_field.label_tag }}
                        {{ form_field }}
                        {{ form_field.errors }}
                    </div>
                {% endfor %}
            <button type="submit" name="submit_comment_button">Post Comment</button>
        </form>
    </section>

{% endblock %}